body {
  margin: 0;
  font-family: 'Antic Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(58,58,60);
  background: linear-gradient(90deg, rgba(58,58,60,1) 0%, rgba(42,35,35,1) 63%, rgba(10,13,13,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -500;
}