.Tilt {
    background: rgb(58,58,60);
    background: linear-gradient(90deg, rgba(58,58,60,1) 0%, rgba(42,35,35,1) 63%, rgba(10,13,13,1) 100%);
}

.Tilt-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}